<%- layout('layouts/main.ejs') %>

<form action="/signin" method="POST">
    <input type="email" name="email" id="" placeholder="Insert Email">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">
        Sigin
    </button>
</form>